{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}


<!--styles block-->

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}



<!--content block-->

{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">

  <h1 style="font-family:'Oleo Script Swash Caps';font-size:25" class="text-center">Welcome to thePitcher!</h1>
  <em style="font-family:'Secular One'" class="text-center"><p>Your favorite pitches hub</p></em>
  <hr>


  <ul class="nav nav-justified nav-fill" role="tablist" style=margin-bottom:5%;>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ent">Entertainment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#job">Job</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#love">Love</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sales">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#uncat">Uncategorized</a>
    </li>
  </ul>

  <h4 style="font-family:'Secular One'" class="text-center">Check out some of the top pitches or join the fun and create one. </h4>
  <p style="font-family:'Secular One'" class="text-center">While at it, why don't you also drop a comment?</p>

{% for pitch in pitches %}

  <div class="col-sm-4 text-center">
    <div class="card" style="float:right;">
      <div class="card-body">
        <h3 class="card-title" style="font-style:bold;">{{pitch.pitch_title}}</h3>
        <h5 class="card-title">category: {{pitch.pitch_category}}</h5>
        <p class="card-text" style="padding:2%;">{{pitch.pitch_content}}</p>
        <div class="card-footer">
          {% if comments %}
          <div class="row" style="margin-top:2.5%;">
            <div class="col-md-4" >
              <button class="accordion btn">All Comments</button>
              <div class="panel">
                {%for comment in comments%}
                <p style="padding-top:15%;color:black;">
                  <strong>comnt:</strong> {{comment.comment_message}}
                </p>
                {%endfor%}
              </div>
            </div>
            <div class="col-md-4">
              <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
            </div>
            <div class="col-md-4">
              <button class="accordion btn">Comment</button>
              <div class="panel">
                <div class="panel" style="padding-top:10%;width:150%;">
                  {{wtf.quick_form(comment_form)}}
                </div>
              </div>
            </div>
            {%else%}
            <div class="col-md-6">
              <i onclick="myFunction(this)" class="fa fa-thumbs-up" style="font-size: 50px;"></i>
            </div>
            <div class="col-md-6">
              <p> No comments yet. </p>
              <div class="col-md-6" style="width:100%">
                {{wtf.quick_form(comment_form)}}
              </div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>


{% endfor %}

</div>


<!--<div class="tab-content">-->
<!--  <div  class="container tab-pane active" id="job"><br>-->
<!--      {{ macro.displayCategories(Job) }}-->
<!--  </div>-->
<!--  <div  class="container tab-pane fade" id="ent"><br>-->
<!--      {{ macro.displayCategories(Entertainment) }}-->
<!--  </div>-->
<!--  <div  class="container tab-pane fade"><br>-->
<!--    {{ macro.displayCategories(Love)}}-->
<!--  </div>-->
<!--  <div  class="container tab-pane fade" id="love"><br>-->
<!--    {{ macro.displayCategories(Sales)}}-->
<!--  </div>-->
<!--  <div  class="container tab-pane fade" id="uncat"><br>-->
<!--    {{ macro.displayCategories(Uncategorized) }}-->
<!--  </div>-->
<!--</div>-->







<!--scripts-->
<!--thumbs up & down-->
<script>
function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}
</script>


<!--accordion-->
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>


{% endblock %}